.play-button {
    font-size: 20px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0);
    color: white;
    width: 175px;
    height: 75px;
    border-radius: 5px;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(1.15); }
    to { transform: scale(1); }
  }